.banner {
  background: url("https://z1.muscache.cn/pictures/18084f37-67e0-400f-bfd8-55eea0e89508.jpg?im_w=720");
  background-size: cover;
  background-position: center;
  height: 80vh;
  position: relative;
}

.banner__info {
  color: #fff;
  padding-top: 45vh;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 40px;
  width: 300px;
}

.banner__search {
  display: flex;
  flex-direction: column;
}

.banner__searchButton {
  background-color: #fff !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: #ff7779 !important;
}

.banner__info > button {
  background-color: #ff7779;
  color: #fff;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
}

.banner__info > button:hover {
  background-color: #fff;
  color: #ff7779;
}

.banner__info > h5 {
  margin-top: 10px;
}

@media screen and (max-width: 992px) {
  .banner {
    height: 89vh;
  }
}
