.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
  width: 100%;
}

.header__icon {
  object-fit: contain;
  height: 100px;
  margin-left: 20px;
  cursor: pointer;
}

.header__center {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: fit-content;
  padding: 10px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 999px;
  transition: 0.15s ease-in;
  cursor: pointer;
}

.header__center:hover {
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
}

.header__center > input {
  border: none;
  padding: 10px;
  outline-width: 0;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  margin-right: 80px;
  cursor: pointer;
}

.header__host {
  padding: 10px 15px;
  cursor: pointer;
}

.header__host:hover {
  background: #ddd;
  border-radius: 999px;
}

.header__Icon,
.header__expand {
  border: none;
  padding: 10px;
  outline-width: 0;
  cursor: pointer;
}

.header__Icon:hover,
.header__expand:hover,
.header__avatar:hover {
  background: #ddd;
  border-radius: 999px;
}
